@model ConnectR.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.msg_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msg_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msg_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msg_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conversation.conv_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conversation.conv_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.msg_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
