@model ConnectR.Models.ConferenceModel

@{
    ViewBag.Title = "Details";
}

 
<h1>
    @Html.DisplayFor(model => model.Title)
</h1>

<h4> 
    <p>
        When: @Html.DisplayFor(model => model.Date)
    </p>
    <p>
        Where: @Html.DisplayFor(model => model.Location)
    </p>
    

</h4>

<p>
    @Html.DisplayFor(model => model.Content)
</p>

<p>
    Contact 
    @Html.ActionLink(Model.FirstName + " " + Model.LastName, "Details", "Profiles",  new { id = Model.ProfileId }, null)
    for more information
</p>

@if (ViewBag.currentUser == Model.ProfileId)
{
    <p style="float: right">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ConferenceId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ConferenceId })
    </p>
}


<p>
    @Html.ActionLink("Back to List", "Index")
</p>




