@model IEnumerable<ConnectR.Models.ConferenceModel>

@{
    ViewBag.Title = "Conferences";
}

<h2>Conferences</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr onclick="document.location = 'links.html';">
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Date.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink(item.Title, "Details", new { id=item.ConferenceId})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConferenceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConferenceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConferenceId })
        </td>*@
    </tr>
}

</table>
